/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
.header {
    background-color: whitesmoke;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: ce;
    max-width: 1200px;
    margin: 0 auto;

    align-items: center;

}

/* Navbar Brand */
.navbar-brand {
    font-size: 28px;
    font-weight: bold;
    color: #e24e2f;
    
}

/* Navbar Links */
.nav-link {
    color: #e24e2f;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 4px;
}

.nav-link:hover {
    color: white !important;
    background-color:'#e24e2f' !important;
    background: #e24e2f;
}

.nav-item:hover{
    color: white !important;
    background-color:'#e24e2f' !important;
}

/* Cart Icon */
.bi-cart {
    font-size: 1.5rem;
}

.bi-cart:hover {
    color: #eb3a17;
}

/* Login Button */
.btn-outline-light {
    color: white;
    background-color: #e24e2f;
    border-color: #e24e2f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline-light:hover {
    background-color: 'white';
    color: '#e24e2f';
    border-color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav {
        flex-direction: column;
        gap: 10px;
    }

    .navbar-toggler {
        margin-bottom: 10px;
    }
    /* Custom styling for the navbar toggler icon */

}
